@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.login_background {
    /*background-color: #a5e6ec;*/
    background-color: White;
}

.content_pannel_acc {
    /*width:1030px !important;*/
}

.tabel_pannel_tab {
    /*width:1015px !important;*/
}

.backColor {
    background-color: White;
}

.position_fixed_button {
    position: fixed;
    right: 2%;
    z-index: 10;
}

.header_module {
    font-size: 15px;
}

.theme_color {
    background-color: #D6EAF8;
}

.sidebar_style {
    width: 220px;
}

.sidebar_detailitem_Style {
    overflow: auto !important;
}

.sidebar_button {
    width:190px;
}


.AFDefaultFontFamily:alias {
       font-family: serif !important;
}


/*af|table {
background: none;
border: 1px solid #A65B1A;
}*/

af|table af|column::column-header-cell 
{   
/*height:35px;*/
color:white; 
/*text-align: center;*/
font-size: 12px;
font-weight: bold;
/*background-image: none;*/
background-color: #14739e;
/*vertical-align: middle;*/
/*border-left: 1px solid #BF691E;*/
}

/*af|table::data-table-VH-lines af|column::data-cell
{
background-color:#fff;
color: #7F4614;
font-size:12px;
font-family:'OpenSans-Regular';
height:30px;
vertical-align: middle;
text-align: left;
} 

af|table::data-table-VH-lines af|column::banded-data-cell{ 
background-color:#F0E5CC; 
color: #7F4614;
font-size:12px;   
font-family:'OpenSans-Regular';  
height:30px;   
vertical-align: middle;
text-align: left; 
}

af|table::data-row:selected af|column::data-cell
{  
background-color: #eeaa00;
color: #ffffff;  
}

af|table::data-row:selected af|column::banded-data-cell
{  
background-color: #eeaa00; 
color: #ffffff;  
}

af|table::data-row:selected:focused af|column::data-cell
{  
background-color: #eeaa00;  
color: #ffffff; 
}

af|table::data-row:selected:focused af|column::banded-data-cell {
background-color: #eeaa00;   
color: #ffffff;    
}

af|table::data-row:hover af|column::data-cell
{ 
background-color: #9bafc8;  
color: #ffffff;  
}

af|table::data-row:hover af|column::banded-data-cell { 
background-color: #9bafc8;
color: #ffffff; 
}*/

