@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

.login_background {
    /*background-color: #a5e6ec;*/
    background-color: White;
}

.content_pannel_acc {
    width:1030px !important;
}

.tabel_pannel_tab {
    width:1015px !important;
}

.backColor {
    background-color: White;
}

.position_fixed_button {
    position: fixed;
    right: 2%;
    z-index: 10;
}